
y.tab.h
y.tab.c
program.exe
lex.yy.c
.vscode/settings.json
yacc_file.tab.c
yacc_file.tab.h
*.exe
*.dll
*.pdb
*.obj
*.lib
*.idb
*.pch
*.suo
*.ilk
*.ncb
*.pdb
*.ipch
*.aps
*.clw
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ncb
*.obj
*.pch
*.sbr
*.sdf
*.opensdf
*.tlog
*.vcxproj.user
*.vcproj.*
*.user
*.aps
*.plg
*.bsc
*.exp
*.res
*.scc
*.vspscc
*.vssscc
*.psess
*.vsp
*.obj
*.pdb
*.exe
*.dll
*.userprefs
*.dbmdl
*.dbproj
*.dbp
*.ilk
*.mdf
*.ldf
*.bak
*.cache
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.cache
*.sln*.user
*.suo
*.sln*.suo
*.cache
*.scc
*.vspscc
*.vssscc
*.psess
*.vsp
*.vbw
*.tlh
*.tli
*.tlb
*.clw
*.obj
*.pch
*.res
*.idb
*.pdb
*.bsc
*.sbr
*.opt
*.ncb
*.plg
*.bsc
*.exp
*.lib
*.sdf
*.opensdf
*.tlog
*.vcxproj.*
*.vcproj.*
*.ipch/
*.bak/
*.cache/
*.ilk/
*.log/
*.ncb/
*.obj/
*.pch/
*.sbr/
*.sdf/
*.opensdf/
*.tlog/
*.user/
*.userosscache/
*.sln.cache/
*.suo/
*.sln*.suo/
*.cache/
*.scc/
*.vspscc/
*.vssscc/
Debug/
*.psess/
*.vsp/
*.vbw/
*.tlh/
*.tli/
*.tlb/
*.clw/
*.res/
*.idb/
*.pdb/
*.bsc/
*.opt/
*.plg/
*.exp/
*.lib/
*.sdf/
*.opensdf/
*.tlog/
*.vcxproj.*
*.vcproj.*
*.ipch/*
*.bak/*
*.cache/*
*.ilk/*
*.log/*
*.ncb/*
*.obj/*
*.pch/*
*.sbr/*
*.sdf/*
*.opensdf/*
*.tlog/*
*.user/*
*.userosscache/*
*.sln.cache/*
*.suo/*
*.sln*.suo/*
*.cache/*
*.scc/*
*.vspscc/*
*.vssscc/*
*.psess/*
*.vsp/*
*.vbw/*
*.tlh/*
*.tli/*
*.tlb/*
*.clw/*
*.res/*
*.idb/*
*.pdb/*
*.bsc/*
*.opt/*
*.plg/*
*.exp/*
*.lib/*
*.sdf/*
*.opensdf/*
*.tlog/*
*.vcxproj.*
*.vcproj.*
*.vsidx